# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL

# Clerk Auth Keys
CLERK_SECRET_KEY
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY

# Amazon S3 Keys
S3_SECRET_KEY
S3_ACCESS_KEY
S3_BUCKET_REGION
S3_BUCKET_NAME
CLOUDFRONT_DIST_DOMAIN

# Upstash Keys
UPSTASH_REDIS_REST_TOKEN
UPSTASH_REDIS_REST_URL

# Site URL
SITE_URL

# Stripe Keys
STRIPE_SECRET_KEY
STRIPE_WEBHOOK_SECRET
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY
# This token is for the checkout
# This helps split dev vs prod
EVENT_TOKEN_CODE
